/*
 * Estilos reutilizables
 */


 .m-0{
 	font-size: 30px;
 }
 .mb-0 {
 	margin-bottom: 0;
 }

 .mt-0 {
 	margin-top: 0;
 }

 .text-uppercase {
 	text-transform: uppercase;
 }

 .link{
 	font-weight: 700;
 	padding: 21px;
 	display: inline-block;
 }

 .logo{
 	float: left;
 	padding-left: 50px;
 	display: inline-block;
 }

 .enlaces{
 	padding-left: 900px;
 }

 .menu-container{
 	padding: 14px 70px;
 	overflow: auto;
 	display: inline-block;
 	margin-left: 50%;
 }

 .container .titulo{
 	font-size: 30px;
 	margin-top: -20px;
 	margin-bottom: -40px;/*necesario para controlar que la linea y la estrella queden centradas y no tan abajo como ocurria en un principio*/
 	
 }

 #about .titulo {
 	padding-top: 30px;
 }

#about .titulo .linea{
 	padding-left:300px;
 }

 .menu-container a {
 	right: : 800px;
 }

 .boton1{
 	background-color: #18BC9C;
 	color: whitesmoke;
 	margin-top: 30px;
 	margin-bottom: 30px;
 	margin-left: 580px;
 	margin-right: 1070px;
 	margin-top: 30px;;
 	border: none;
 	border-radius: 10px;
 	width: 150px;
 	height: 50px;
 	font-size: 15px;
 	box-shadow: 0 4px 2px -2px gray;


 }

 .boton2{
 	background-color: #18BC9C;
 	color: whitesmoke;
 	margin-right: 1070px;
 	margin-top: 30px;
 	margin-bottom: 30px;	
 	border: none;
 	border-radius: 10px;
 	width: 100px;
 	height: 50px;
 	font-size: 15px;
 	box-shadow: 0 4px 2px -2px gray;

 }

 .parrafo{
 	color: #2cd6c2;
 }

 .text-home{
 	font-size: 53px;
 }

 /* linea, linea-1 y linea-2 permiten acomodar la linea con la estrella de
 bajo de cada título*/

 .linea{
 	height: 5px;
 	width: 10%;
 	margin-top: -20px;
 	background-color: white;
 	display: inline-block;
 }


 .linea-1{
 	height: 5px;
 	width: 10%;
 	margin-top: -40px;
 	display: inline-block;
 	background-color: black;
 	text-align: center;
 }

 .linea-2{
 	height: 5px;
 	width: 10%;
 	margin-top: 60px;
 	display: inline-block;
 	margin-left: 400px;
 	right: 200px;
 	background-color: white;
 }

 .btn-home{
 	background: #2Ecc71;
 	color: #fff;
 	padding: 11px 20px;
 	border-radius: 1px;
 	font-weight: 500;
 	text-transform: uppercase;
 	margin-top: 63px;
 	display: inline-block;
 	font-size: 14px;
 }

 .box-services{
 	display: inline-block;
 	width: 30%;
 	margin-top: 63px;
 	cursor:pointer;
 }

 .text-services{
 	font-size: 35px;
 	letter-spacing: 2px;
 }

 .row:before, .row:after{
 	content: "";
 	display: table;
 }

 .row:after{
 	clear: both;
 }

 [class*="col-"]{
 	min-height: 7px;
 	float: left;
 	padding: 12px;
 }

 .col-4{
 	/*(4/12)*100*/
 	width: 33.333333%;
 	padding-top: 63px;
 	text-align: center;
 }

 .col-6{
 	/*(6/12)*100*/
 	width: 50%;
 	padding-top: 63px;
 	text-align: center;

 }